/* Global variables */
:root {
  --black: #212529;
  --gunmetal: #343a40;
  --dark-purple: #301934;
  --violet: #47126b;
  --purple: #b666f5;
  --amaranth-purple: #ab274f;
  --amaranth: #e62e50;
  --sienna: #e97451;
  --yellow: #f8d568;
  --platinum: #e5e5e5;
  --cultured: #f2f2f2;
  --sunrise: #ffdb00;
  --yellow: #eecfa3;
  --spacing: 0.1rem;
  --max-width: 1170px;
}

/* Global Styling */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.6vw;
  border-radius: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--amaranth);
  border-radius: 2vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--amaranth-purple);
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/newbg.png');
  line-height: 1.5;
  font-size: 0.875rem;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

/* Headings and paragraph */
h1 {
  color: var(--dark-purple);
  font-weight: 500;
  font-size: 4vh;
}
h2 {
  color: var(--gunmetal);
  font-weight: 500;
  font-size: 3.2vh;
}
p,
label {
  color: var(--gunmetal);
  font-weight: 500;
  font-size: 2vh;
}

h3 {
  color: var(--violet);
  font-weight: 700;
  font-size: 2.5vh;
}

@font-face {
  font-family: 'Angelina';
  src: url('./assets/angelina2.ttf');
}

/* Button */
.amaranth-btn {
  border-radius: 2rem;
  display: inline-block;
  background: var(--amaranth);
  box-shadow: none;
  transition: box-shadow 200ms ease-in-out;
}

.amaranth-btn button {
  border: none;
  font-size: 3vh;
  background: transparent;
  color: white;
  padding: 2vh 2vw;
  outline: none;
  overflow: hidden;
  position: relative;
}

.amaranth-btn button span {
  z-index: 20;
}

.amaranth-btn button:after {
  content: '';
  display: block;
  position: absolute;
  top: -36px;
  left: -100px;
  background: white;
  width: 50px;
  height: 125px;
  opacity: 20%;
  transform: rotate(-45deg);
}

.amaranth-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.amaranth-btn button:hover:after {
  left: 120%;
  transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
}

/* Main and UI Glass */
main {
  min-height: 100vh;
  /* background: var(--amaranth); */
  display: flex;
  margin: 0 auto;
}

.main-container {
  display: grid;
  place-items: center;
  min-width: 100%;
}

.glass {
  margin: 0 auto;
  width: 78vw;
  min-height: 77vh;
  max-width: 68vw;
  max-height: 77vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 4vh;
  z-index: 5;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

/* Dashboard */
.dashboard {
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  border-radius: 4vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: inherit;
  max-height: inherit;
  padding: 0;
}

/* User */
.user-img {
  border-radius: 50%;
  height: 13vh;
  width: auto;
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.user {
  margin-bottom: 2vh;
}

/* Links */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 4vw;
  background: none;
  transition: all 0.2s ease-in-out;
}

.link h2 {
  color: var(--gunmetal);
  margin: 0vh 2vw;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  cursor: pointer;
  background: var(--purple);
}

.link:hover h2 {
  color: #fff;
}

.link-icon {
  color: var(--amaranth);
  transition: all 0.2s ease-in-out;
}

.link:hover .link-icon {
  color: #fff;
}

/* Logo */
.logo {
  margin-top: 0.5vh;
  margin-bottom: 3vh;
}

.logo img {
  height: 12vh;
}

/* Home */
.contents {
  padding: 4vh 1.4vw;
}

.title-text {
  display: inline-block;
  padding: 1.5vh 1.5vw;
  border-radius: 2rem;
  color: var(--amaranth);
  font-size: 5.5vh;
}

.gifthub-text {
  font-family: Angelina;
  color: var(--amaranth);
  display: inline;
}

.home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  margin: 5vh 0vw;
  padding: 5vh 0;
  text-align: center;
}

.home-card h2 {
  font-size: 5vh;
  display: inline-block;
  padding-bottom: 2vh;
}

.home-p-text {
  font-style: italic;
  font-size: 1.7vh;
}

.home-card .amaranth-btn {
  margin-top: 6vh;
}

/* Question1 */
.question1-card {
  margin: 3vh 1.5vw;
  padding: 2vh 0;
}

.question1-card h2 {
  font-size: 5vh;
  display: inline-block;
  padding-bottom: 2vh;
}

.question {
  margin: 9vh 0;
}

.question-form {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-form label {
  margin-top: 1vh;
  margin-right: 2.5vw;
  margin-left: 0.5vw;
  white-space: nowrap;
}

.question-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

/* General Question */
.questions-card {
  margin: 3vh 1.5vw;
  padding: 2vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questions-card .question {
  margin-top: 11.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Loading */
.result-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh 0;
}

.result-loading h3 {
  margin-bottom: 8vh;
}

.question-form select {
  margin-bottom: 2.2vh;
}

.results {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}

.result .title-text {
  color: var(--gunmetal);
  font-size: 3.7vh;
}

.result .gifthub-text {
  font-size: 4vh;
}

.result-text {
  color: var(--purple) !important;
}

.result-p {
  margin-top: 2vh;
  margin-bottom: 0;
  font-style: italic;
}

.result-card {
  height: 48vh;
  overflow-y: scroll;
}

.result-cards {
  background-color: white;
  border-radius: 1.8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7vh 2vw;
  margin: 1.7vh 1vw;
  box-shadow: rgba(230, 46, 80, 0.19) 0px 10px 20px,
    rgba(230, 46, 80, 0.23) 0px 6px 6px;
}

.result-cards-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-cards img {
  max-height: 75px;
}
