/* Global variables */
:root {
  --black: #212529;
  --gunmetal: #343a40;
  --dark-purple: #301934;
  --violet: #47126b;
  --purple: #b666f5;
  --amaranth-purple: #ab274f;
  --amaranth: #e62e50;
  --sienna: #e97451;
  --yellow: #f8d568;
  --platinum: #e5e5e5;
  --cultured: #f2f2f2;
  --sunrise: #ffdb00;
  --spacing: 0.1rem;
  --max-width: 1170px;
}

/* Global Styling */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/newbg.png');
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

/* Headings and paragraph */
h1 {
  color: var(--dark-purple);
  font-weight: 600;
  font-size: 3rem;
}
h2,
p {
  color: var(--gunmetal);
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  color: var(--violet);
  font-weight: 700;
  font-size: 1.25rem;
}

/* Main and UI Glass */
main {
  min-height: 100vh;
  /* background: var(--amaranth); */
  display: flex;
  margin: 0 auto;
}

.main-container {
  display: grid;
  place-items: center;
  min-width: 100%;
}

.glass {
  margin: 0 auto;
  width: 70vw;
  min-height: 85vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 2rem;
  z-index: 5;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

/* Dashboard */
.dashboard {
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  border-radius: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* User */
.user-img {
  border-radius: 50%;
  height: 8rem;
  width: auto;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Links */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.7rem 4.7rem;
  background: none;
  transition: all 0.2s ease-in-out;
  max-width: inherit;
}

.link h2 {
  color: var(--gunmetal);
  margin: 0rem 1rem;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  cursor: pointer;
  background: var(--purple);
}

.link:hover h2 {
  color: #fff;
}

.link-icon {
  color: var(--amaranth);
  transition: all 0.2s ease-in-out;
}

.link:hover .link-icon {
  color: #fff;
}

/* Logo */
.logo {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.logo img {
  height: 8rem;
}

.col {
  padding: 0;
  margin: 0;
}
