@media only screen and (max-width: 862px) {
  .amaranth-btn {
    margin-top: 3vh;
  }
  .home-card {
    padding: 2vh 0;
  }
  .title-text {
    font-size: 4.5vh;
  }
}

@media only screen and (max-width: 990px) {
  .home-card {
    margin: 2vh 0vw;
  }

  .title-text {
    padding: 1vh 1.5vw;
  }
}

@media only screen and (max-width: 1280px) {
  .logo img {
    height: 6rem;
  }
  /* .link {
    padding: 2vh 4.5vw;
  } */
}

@media only screen and (max-width: 1400px) {
  .glass {
    width: 80vw;
  }
}
