/**
 * /* @media only screen and (max-width: 862px) {
 *   .amaranth-btn {
 *     margin-top: 3vh;
 *   }
 *   .home-card {
 *     padding: 2vh 0;
 *   }
 *   .title-text {
 *     font-size: 4.5vh;
 *   }
 * }
 * 
 *   }
 * 
 *   .title-text {
 *     padding: 1vh 1.5vw;
 *   }
 * }
 * 
 *   }
 * }
 * 
 *   }
 * }
 * 
 *   }
 * 
 *   .question1-card .question {
 *     margin: 7.7vh 0;
 *   }
 * }
 * 
 *   }
 * }
 *
 * @format
 * @media only screen and (max-width: 990px) { .home-card { margin: 2vh 0vw;
 * @media only screen and (max-width: 1075px) { .result-card { height: 40vh;
 * @media only screen and (max-width: 1179px) { .question1-card .question { margin: 6.1vh 0;
 * @media only screen and (min-width: 1180px) { .logo img { height: 12vh;
 * @media only screen and (max-width: 1635px) { .glass { max-width: 80vw; width: 80vw;
 */

@media only screen and (max-width: 962px) {
  .result-card {
    height: 35vh;
  }
  .question1-card .question {
    margin: 7.7vh 0;
  }
  .question1-card h2 {
    font-size: 4vh;
  }

  .question-btn {
    margin-bottom: 0.2vh;
  }
}

@media only screen and (max-width: 766px) {
  .dashboard {
    display: none;
  }
}
